@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
    --color-primary: #00A6F4;
    --color-bg-dark: #171717;
    
}

/* Ocultar scrollbar manteniendo funcionalidad */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}